/5.ipynb
/angle.JPG
/angle plot.JPG
/contourdecisionboundary.JPG
/contourline.JPG
/dataset.JPG
/decisionboundary.JPG
/irisdatawstar.JPG
/ML.zip
/optimalvector.JPG
/projection.JPG
/projectionoptimalvector.JPG
/quadraticdecisionboundary.JPG
/Report.pdf
/unoptimalw.JPG
/vector1.JPG
/vector2.JPG
/vector3.JPG
